body {
  color: #50586c !important ;
  background-color: #dce2f0 !important;
}
.container {
  margin-bottom: 60px;
}

.todo-item {
  border: 1px solid #50586c;
  border-top: none;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-item.first {
  border: 1px solid #50586c;
}
.title {
  margin-top: 20px !important;
  font-weight: bold;
}
.title-login {
  margin-top: 25px !important;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.title-area {
  display: flex;
  justify-content: space-between;
}
.title-area .link-item {
  text-decoration: none;
  color: #50586c;
}
.title-area .link-item:hover {
  color: #1b2233;
}

.todo-content {
  padding: 1em;
}
.add-item-row {
  margin-top: 20px !important;
  margin-bottom: 30px;
}
.input-box {
  padding: 10px;
  width: 100%;
  border: 1px solid #50586c;
  border-radius: 5px;
}
.input-box:focus {
  outline: none;
}
.input-box:focus::placeholder {
  color: white;
}
.button-add {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #50586c;
  color: white;
  border-radius: 5px;
}
.button-add:hover {
  background-color: white;
  color: #50586c;
  border: 2px solid #50586c;
}
.button-delete {
  background-color: white;
  border: 2px solid #50586c;
  color: #50586c;
  margin: 10px;
  border-radius: 3px;
}
.button-delete:hover {
  background-color: #50586c;
  color: #ffffff;
}

.item-complete {
  background-color: gainsboro;
  color: gray;
}

.category {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.category li {
  float: left;
  background-color: rgb(238, 238, 238);
  width: 20%;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #ddd;
  padding: 5px;
  border-top: 2px solid rgb(238, 238, 238);
  border-radius: 3px 3px 0 0;
}
.category li.active {
  background-color: white;
  border-top: 2px solid crimson;
}
.category li:hover {
  background-color: white;
}

.common-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.intro-area,
.login-area,
.register-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 400px;
  width: 400px;
  border: 1px solid #50586c;
  background-color: white;
  border-radius: 10px;
}
.intro-area div:first-child {
  margin-top: 20px;
  width: 90%;
  margin-left: 30px;
}
.intro-area .input-area {
  width: 90%;
  margin-left: 30px;
}
.intro-area input[type="text"] {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #50586c;
  margin-top: 10px;
}
.intro-area input[type="text"]:focus {
  outline: none;
}
.intro-area input[type="text"]:focus::placeholder {
  color: white;
}
.intro-area input[type="password"] {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #50586c;
  margin-top: 10px;
}
.intro-area input[type="password"]:focus {
  outline: none;
}
.intro-area input[type="password"]:focus::placeholder {
  color: white;
}
.intro-area button {
  width: 90%;
  height: 45px;
  border: none;
  background-color: #50586c;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.intro-area button:hover {
  background-color: white;
  color: #50586c;
  border: 2px solid #50586c;
}
.intro-area .info {
  font-size: 16px;
  color: gray;
}
.intro-area .alarm {
  font-size: 16px;
  color: red;
}
.intro-area .disable {
  font-size: 16px;
  color: white;
}

.login-area div:first-child {
  margin-top: 20px;
  width: 90%;
}
.login-area .input-area {
  width: 90%;
  margin-left: 30px;
}
.login-area input[type="text"] {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #50586c;
  margin-top: 10px;
}
.login-area input[type="text"]:focus {
  outline: none;
}
.login-area input[type="text"]:focus::placeholder {
  color: white;
}
.login-area input[type="password"] {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #50586c;
  margin-top: 10px;
}
.login-area input[type="password"]:focus {
  outline: none;
}
.login-area input[type="password"]:focus::placeholder {
  color: white;
}
.login-area input[type="checkbox"] {
  margin-top: 15px;
  margin-left: 10px;
}

.login-area label {
  color: gray;
  margin-left: 5px;
  font-size: 13px;
}
.login-area button {
  width: 90%;
  height: 45px;
  border: none;
  background-color: #50586c;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.login-area button:hover {
  background-color: white;
  color: #50586c;
  border: 2px solid #50586c;
}
.login-area .info {
  font-size: 16px;
  color: gray;
}
.login-area .alarm {
  font-size: 16px;
  color: red;
}
.login-area .disable {
  font-size: 16px;
  color: white;
}

.intro-area button.disable,
.login-area button.disable {
  background-color: #dce2f0;
  color: gray;
}

.intro-area button.disable:hover,
.login-area button.disable:hover {
  background-color: #dce2f0;
  color: gray;
  outline: none;
  border: none;
}

span.back {
  color: crimson;
  margin-left: 10px;
}
span.back:hover {
  color: red;
  cursor: pointer;
}

@media (max-width: 767px) {
  .intro-area,
  .login-area,
  .register-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
  }
}
